# local notes
notes.md

# MacOS
.DS_Store

# Sensitive
/kubernetes/ghcr-creds.sh

# Helm values files contain secrets
kubernetes/helm-values.yaml

# On development
/terraform
/workflows
kubernetes/monitoring-stack/
architecture.png
install.sh
TODO.md

# Alternative README
README.md.bak